* {
    box-sizing: border-box;
    outline: 2px solid red
}

body {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    margin: 20px;
    width: 640px;
}

.title,
.link-item,
.intro-text-box{
    background-color: rgb(177, 160, 194);

}

.title,
.link-item{
    text-align: center;
}

.title {
    font-size: 30px;
    color: rgb(172, 53, 17);
    padding: 20px;
    margin: auto;
}

.content-container{
    background-color: rgb(211, 197, 224);
    height: auto;
    padding: 10px;
    margin: 20px 0px;
}

.intro-text-box{
    display: inline-block;
    width: ;
    height: auto;
    padding: 0px 20px;
    margin: 10px auto;
}

.intro-text {
    font-size: 20px;
    color: rgb(35, 31, 95);
}

.recipe-list{
    margin: 10px 0px;
    background-color: rgb(40, 38, 68);
    padding: 0px;
}

li {
    color: rgb(31, 16, 165);
}

.link-item {
    font-weight: bold;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 15px;
    margin: 5px 5px;
}

img{
    height: auto;
    margin: 10px 5px;
    display: inline-block;
    border: 3px solid black;
}

#pancake-image{
    width: 200px;
}

#chocolate-cookie-image{
    width: 100px;
}

#apple-cake-image{
    width: 150px;
}
